/*corps*/

html {
    background-color: #F5F5DC;
    background-attachment: fixed;
    font-size: 100%;
    height: 100%;
    margin: auto;
    width: 62%;
    margin-bottom: 1em;
}

table,
th,
td {
    border: 1px solid #cccccc;
    padding: 5px;
}

.error {
    color: #EF5350;
    text-align: center;
    font: 12pt "Merriweather Sans", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 100%;
    text-align: center;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

#main {
    background-color: #ffffffce;
    height: 100%;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12%;
}

section {
    margin-left: 10%;
    width: 80%;
    margin: auto;
    text-align: left;
}


/*barre de recherche*/

nav ul {
    position: fixed;
    top: 0;
    height: 6em;
    width: 60em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2.4em;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #15548E;
}

.active {
    background-color: #288fb4;
}

.fa-home {
    font-size: 5rem;
    color: rgb(255, 255, 255)
}


/*cas ou fenetre petite*/

@media screen and (max-width: 1250px) {
    nav ul li {
        float: none;
    }
    html {
        width: 100%;
        height: auto;
    }
    nav ul {
        width: 100%;
        height: 30em;
        position: inherit;
    }
}


/*tritre de tire h1*/

h1 {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    margin-top: 4em;
    margin-bottom: 2em;
}


/*titre de type h2*/

h2 {
    margin: auto;
    height: auto;
    text-align: center;
    color: #333;
}


/* lien */


/* lien non visité */

section a:link {
    color: #ccc;
}


/* souris sur le lien */

.buttons {
    display: inline-block;
    background-color: #333;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 1em;
    padding: 1em;
    width: 10em;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.buttons:hover {
    background-color: rgb(99, 99, 99);
}

.b {
    margin-left: 15%;
}

div input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    width: 100%;
}

form {
    margin: 0 auto;
    width: 600px;
}

form input {
    padding: 10px;
}

form select {
    background-color: #ffffff;
    padding: 5px;
}

form textarea {
    padding: 10px;
    margin-bottom: 5px;
}

form label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

label {
    position: relative;
}

label input {
    font-size: 1em;
    color: #f9f9f9;
    background: transparent;
    padding: 1rem 1.2rem;
    width: 350px;
    border-radius: 5px;
    border: 2px solid #7a7a7a;
    transition: all 0.2s;
}

label input:focus {
    border-color: #ff4754;
}

.tooltip {
    visibility: hidden;
}

div span {
    color: #ff4754;
}


/* Formulaire à choix*/

select {
    font-size: .9rem;
    padding: 2px 5px;
    width: 100%;
}


/*bas de page*/

footer {
    width: 100%;
    height: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}

footer a:hover {
    color: rgb(99, 99, 99);
}